@import "../../variables";

form {
    .user-avatar {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 20px;
    }

    .avatar {
        width: 175px;
        height: 175px;
        border-radius: 50%;
        background-image: url(../../assets/img/avatar.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .input-avatar {
        display: none;
    }

    div {
        &.info {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 20px 0 0;
            border-top: 1px solid #b3b3b3;
        }
    }

    .info {
        .form-group {
            position: relative;
            width: 50%;
            padding: 0 10px 30px;
        }
    }

    .label-input {
        font-size: 1.4em;
    }
}