@import "../../variables";

.about-wrap {
    padding: 100px 0;
    text-align: center;

    h2 {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 30px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50px;
            height: 2px;
            margin: 0 auto;
            background: $color-blue;
        }
    }

    p {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        font-size: 1.8em;
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.lozung {
    position: relative;
    padding: 70px 0;
    overflow: hidden;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/12/47/auto-2583303_960_720.jpg);
    background-position: 100% 70%;
    background-size: cover;
    background-repeat: no-repeat;

    &-bg {
        padding: 50px 10px;
        background: rgba(255, 255, 255, 0.7);
        text-align: center;
    }

    h3 {
        font-size: 3em;
        margin-bottom: 30px;
    }
}

.gallery {
	display: flex;
	flex-wrap: wrap;

	.item {
		width: 33.33%;
		flex-grow: 1;

		@media(max-width: 991px) {
			width: 50%;
		}

		@media(max-width: 767px) {
			width: 100%;
		}

		img {
			object-fit: cover;
			height: 100%;
		}
	}
}