@import "../../variables";

.contact {
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 100px 0 70px;
    }

    &-item {
        width: 50%;
        padding: 0 10px 30px;
        text-align: center;

        @media (max-width: 767px) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &-name {
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        position: relative;
        color: $color-blue;
    }

    &-schedule {
	    max-width: 280px;
		width: 100%;
		margin: 0 auto;
        font-size: 1.6em;
        line-height: 1.5;
    }
}

.map {
    iframe {
        border: 0;
        vertical-align: middle;
    }
}
