@import "../../variables";

footer {
  background: $color-blue;
  color: $color-white;
}

.footer-wrap {
    display: flex;

    @media (max-width: 650px) {
        display: block;
    }

    &__case {
        width: 33.33%;
        padding: 20px;
        color: $color-white;

        @media (max-width: 650px) {
            width: 100%;
            text-align: center;

            &:not(:last-child) {
                border-bottom: 1px solid $color-blue-1;
            }
        }

        .contact {
            &-item {
                width: 100%;
                text-align: left;

                @media (max-width: 650px) {
                    text-align: center;
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }

            &-name {
                color: $color-white;
            }
        }

        &.nav-list {

            ul {
                list-style: none;
                margin-left: -5px;
            }

            .link {
                display: inline-block;
                color: $color-white;
                font-size: 1.6em;
                padding: 5px;
                transition: background 0.3s;

                &:hover,
                &:active {
                    background: $color-blue-1;
                }
            }
        }
    }
}