$color-white: #ffffff;
$color-black: #212121;
$color-light-grey: #929191;
$color-blue: #3ab1bf;
$color-blue-1: #2e9dab;
$color-shadow: #0b5058;
$color-error: #bf3a3a;
$color-input: #656565;
$color-border: #b3b3b3;
$bg-grey: #f9f9f9;

$bg-input: #f9f9f9;

$light: 300;
$normal: 400;
$bold: 700;